{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}

    <div class="ui grid container">
        <div class="eight wide computer sixteen wide mobile column">
            <h2 class="ui dividing header">Reserve a Space</h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
            <div class="two fields">
            {{ f.render_form_field(form.campus) }}
            {{ f.render_form_field(form.space_type) }}
            </div>

            <div class="two fields">
                 <div class="field">
                   <label>Start Time*</label>
                   <div class="ui calendar" id="rangestart">
                     <div class="ui input left icon">
                       <i class="calendar icon"></i>
                       <input id="start_time" type="text" name="start_time" placeholder="Start">
                     </div>
                   </div>
                   {% if form.start_time.errors %}
                   <div class="ui red pointing label">
                       {{ form.start_time.errors[0] | safe }}
                   </div>
                   {% endif %}

                 </div>
                 <div class="field">
                   <label>End Time*</label>
                   <div class="ui calendar" id="rangeend">
                     <div class="ui input left icon">
                       <i class="calendar icon"></i>
                       <input id="start_time" type="text" name="end_time" placeholder="End">
                     </div>
                   </div>
                 </div>
            </div>
            <div class="two fields">
            {{ f.render_form_field(form.capacity) }}
            {{ f.render_form_field(form.ammenities) }}
            </div>

            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Hm.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                {{ f.render_form_field(field) }}
            {% endfor %}

            {{ f.end_form(form) }}
          <!--</div> -->
          <br>
          {% if available_spaces %}
          {% if available_spaces|length > 0 %}
            {# <div class="eight wide computer sixteen wide mobile column centered"> #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th class="sorted ascending">Space</th>
                            <th>Capacity</th>
                            <th>Condition</th>
                        </tr>
                    </thead>

                    <tbody>

                    {% for space in available_spaces %}
                        <tr onclick="window.location.href = '{{ url_for('reserve.space') }}';">
                            <td>{{ space['location_name'] }}</td>
                            <td>{{ space['name'] }}</td>
                            <td>{{ space['capacity'] }}</td>
                            <td>{{ space['condition'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
        {% endif %}
        {% else %}
        <h2> No spaces found. </h2>
        {% endif %}
    </div>
    <!-- THESE SCRIPT TAGS NECESSARY FOR CALENDAR POP-UPS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>

    <script type="text/javascript">

      $('#rangestart').calendar({
        endCalendar: $('#rangeend')
      });
      $('#rangeend').calendar({
        startCalendar: $('#rangestart')
      });

</script>
{% endblock %}
