{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui grid container">
        <div class="eight wide computer sixteen wide mobile column">
            <h2 class="ui dividing header">Reserve a Space</h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
            <div class="two fields">
            {{ f.render_form_field(form.campus) }}
            {{ f.render_form_field(form.space_type) }}
            </div>
            <div class="two fields">
                 <div class="field">
                   <label>Start Time</label>
                   <div class="ui calendar" id="rangestart">
                     <div class="ui input left icon">
                       <i class="calendar icon"></i>
                       <input id="start_time" type="text" placeholder="Start">
                     </div>
                   </div>
                 </div>
                 <div class="field">
                   <label>End Time</label>
                   <div class="ui calendar" id="rangeend">
                     <div class="ui input left icon">
                       <i class="calendar icon"></i>
                       <input id="start_time" type="text" placeholder="End">
                     </div>
                   </div>
                 </div>
            </div>
            <div class="two fields">
            {{ f.render_form_field(form.capacity) }}
            {{ f.render_form_field(form.ammenities) }}
            </div>

            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Hm.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                {{ f.render_form_field(field) }}
            {% endfor %}

            {{ f.end_form(form) }}
          </div>
          {% if available_spaces %}
            <div class="eight wide computer sixteen wide mobile column centered">
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th class="sorted ascending">Space</th>
                            <th>Capacity</th>
                            <th>Condition</th>
                        </tr>
                    </thead>

                    <tbody>

                    {% for space in available_spaces %}

                            <td>{{ space['location_name'] }}</td>
                            <td>{{ space['name'] }}</td>
                            <td>{{ space['capacity'] }}</td>
                            <td>{{ space['condition'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>

        </div>
    </div>
    <script type="text/javascript">

      $(document).ready(function() {
        alert( "Ready" );
        $('#rangestart').click(function() {
          $('#rangestart').calendar();
        });

        $('#rangeend').calendar();
      });


/*$(function() {

    // jQuery selection for the 2 select boxes
    var dropdown = {
        location: $('#select_location'),
        space: $('#select_space')
    };

    // call to update on load
    updateSpaces();

    // function to call XHR and update county dropdown
    function updateSpaces() {
        var send = {
            location: dropdown.location.val()
        };
        dropdown.space.attr('disabled', 'disabled');
        dropdown.space.empty();
        console.log("after empty");
        console.log(dropdown.space);

        $.getJSON("{{ url_for('reserve._get_spaces') }}", send, function(data) {
            console.log("appending");
            dropdown.space.append(
                $('<option>', {
                    selected: "1",
                    value: "0",
                    text: "---"
                })
            );
            data.forEach(function(item) {
              console.log("adding element");

                dropdown.space.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            console.log(dropdown.space);
            dropdown.space.removeAttr('disabled');

            dropdown.space.hide().fadeIn('fast');
        });
    }

    // event listener to state dropdown change
    dropdown.location.on('change', function() {
        updateSpaces();
    });

});*/

</script>
{% endblock %}
